
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 255 255 255;
    --foreground: 30 42 56;
  }
}
 
/* Add global utilities or resets here if needed */
html {
  scroll-behavior: smooth;
}
